<h1>¡Bienvenido al CoderChat comunitario!</h1>
<h2>¡Hola, <span id="username-display"></span>!</h2>

<script src="/socket.io/socket.io.js"></script><!-- Incorporamos Socket.IO - la capacidad de establecer conexiones con socket -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script><!-- Agregamos las funcionalidades de Sweetalert2 en nuestra página web -->
<script src="/js/index.js"></script>

